/* ==============================
   GLOBAL RESET 
   ==============================*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 
    Change button default styles
*/

.btn {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    color: var(--white-defualt);
}

/* ==============================
   ROOT PROJECT VARIABLES 
   ==============================*/

:root {
    /* Colors */
    --moonstone-blue: #68B1C8;
    --moonstone-blue-hover: #8FD3E6;

    --rich-black: #000408;
    --charlestone-green: #262C31;
    --roman-silver: #838D9B;
    --white-defualt: #FFFFFF;
    --light-silver: #D9D9D9;

    /* Backgrounds */
    --body-background-color: #000;

    /* Font sizes */
    --m-section-title-size: 2rem;
    --td-main-title-size: 4.5rem;

    /* Paddings */
    --m-section-padding: 50px 24px;
    --m-alt-section-padding: 15px 24px;
    --global-horizontal-padding: 0 24px;

}

/* ==============================
   FONTS AND TYPOGRAPHY 
   ==============================*/

@font-face {
    font-family: Manrope;
    src: url('./fonts/manrope.ttf');
    font-weight: normal;
    font-style: normal;
}

/* ==============================
   BODY SETTINGS 
   ==============================*/
body {
    font-family: Manrope;
    color: var(--white-defualt);
    background-color: var(--body-background-color);
}

/* ==============================
   FLEX RECYCLING 
   ==============================*/
.flx-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flx-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flx-row-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==============================
   SECTION SETTINGS 
   ==============================*/

.section {
    padding: var(--global-horizontal-padding); /* 0 24px */
}


/* ==================================================
   LANDING PAGE MOBILE FIRST DESIGN
   ==================================================*/

/* ==============================
   BACKGROUND WRAPPER
   ==============================*/

.background-wrapper {
    background-image: url('./img/backgrounds/hero-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ==============================
   NAVBAR
   ==============================*/

.navbar {
    padding: 24px 15px;
    justify-content: space-between;
}

.navbar__logo {
    cursor: pointer;
    max-width: 100%;
    min-width: 188px;
    margin-right: 70px;
}

.navbar__items {
    display: none;
    list-style: none;
    color: var(--white-defualt);
}

.navbar__items--item {
    display: inline-block;
    font-size: 1.5rem;
}

.navbar__items--item .item__link {
    color: var(--white-defualt);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar__items--item .item__link:not(.item__link--active):hover {
    color: var(--moonstone-blue);
}

.item__link--active {
    font-weight: bold;
}

.navbar__tablet--menu {
    display: none;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.navbar__tablet--menu:hover {
    color: var(--moonstone-blue);
}

.navbar__cta {
    display: none;
    color: var(--moonstone-blue);
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.navbar__cta:hover {
    color: var(--moonstone-blue-hover);
}

.navbar__hamburger-menu {
    cursor: pointer;
    color: var(--white-defualt);
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
}

/* ==============================
   HERO 
   ==============================*/

.hero {
    padding: 50px 0;
}

.hero-container {
    padding: 15px 24px;
}

.hero-content {
    gap: 35px;
    text-align: center;
}

.hero__title {
    font-size: var(--m-section-title-size);
    font-weight: bold;
}

.hero__subtitle {
    font-size: 1.5rem;
    max-width: 327px;
}

.hero__cta {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--moonstone-blue);
    background-color: #000;
    padding: 12px 15px;
    border-radius: 16px;
    border: 2px solid var(--moonstone-blue);
    transition: color 0.3s ease-in-out;
}

.hero__cta:hover {
    color: var(--moonstone-blue-hover);
}

.hero-cards {
    backdrop-filter: blur(20px);
    padding: 15px 24px;
    text-align: center;
    gap: 30px;
}

.hero-cards__card {
    padding: 0 15px;
    gap: 24px;
}

.hero__card--title {
    font-size: var(--m-section-title-size);
}

.hero__card--para {
    font-size: 1.125rem;
}

/* ==============================
   RESPONSIVE: Tablet (Small) 
   ==============================*/

@media(min-width: 744px) {
    /* Tablet (small) styles */

    /* NAVBAR */
    .navbar {
        padding: 24px 15px;
    }

    .navbar__tablet--menu {
        display: revert;
    }

    .navbar__cta {
        display: revert;
    }

    .navbar__hamburger-menu {
        display: none;
    }

    /* HERO */
    .hero {
        padding: 10px 0;
    }
    
    .hero-content {
        padding: 30px 24px;
    }

    .hero__title {
        font-size: var(--td-main-title-size);
    }

    .hero__subtitle {
        font-size: 2rem;
        max-width: 100%;
    }

    .hero__cta {
        font-size: 2rem;
    }

    .hero__cards {
        padding: 25px 24px;
        max-width: 630px;
    }
}

/* ==============================
   RESPONSIVE: Tablet 
   ==============================*/

@media(min-width: 1024px) {
    /* Tablet (medium) styles */

    /* Section horizontal padding settings */
    .section {
        padding: 0 32px;
    }

    /* NAVBAR */
    .navbar {
        padding: 50px 32px;
    }
    .navbar__items {
        display: flex;
        gap: 24px;
    }

    .navbar__tablet--menu {
        display: none;
    }

    /* HERO */
    .hero {
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-container {
        padding: 0 70px 0 32px;
    }

    .hero-content {
        padding: 0;
        text-align: left;
    }

    .hero__subtitle {
        max-width: 100%;
    }

    .hero__cards {
        padding: 0 52px;
        align-items: flex-start;
    }

    .hero-cards__card {
        align-items: flex-start;
    }

    .hero__card--title,
    .hero__card--para {
        text-align: left;
    }
    
}


/* ==============================
   RESPONSIVE: Desktop 
   ==============================*/

@media(min-width: 1100px) {
    /* Desktop styles */

    /* Section horizontal padding settings */
    .section {
        padding: 0 150px;
    }

    /* NAVBAR */
    .navbar {
        padding-left: 150px;
        padding-right: 150px;
    }
    .navbar__items {
        gap: 32px;
    }

    /* HERO */
    .hero {
        padding: 10px 125px 42px 150px;
    }

    .hero-container {
        align-items: center;
    }

    .hero__cta {
        font-size: 1.5rem;
    }

    .hero__cards {
        padding: 50px 40px;
    }

}